<!-- Modal Structure -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Gestione abbonamenti</h4>
    <p>Il database è stato popolato con i dati di prova</p>
  </div>
  <div class="modal-footer">
    <a href="/init" class="modal-action modal-close waves-effect waves-green btn-flat">Chiudi</a>
  </div>
</div>